<!--<div class="bg-gray-950 text-white">-->
<!--  <div class="flex font-bold text-xl justify-center p-5">Movie Server</div>-->
<!--  <div class="text-center font-semibold">-->
<!--    All Movie Lists-->
<!--    <app-all-movie-lists></app-all-movie-lists>-->
<!--  </div>-->
<!--  <div class="text-center font-semibold">-->
<!--    All Upcoming Movie Lists-->
<!--    <app-upcoming-movie-list></app-upcoming-movie-list>-->
<!--  </div>-->
<!--</div>-->

<app-description>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
</app-description>
