<div class="flex flex-wrap bg-gray-950">
  <div *ngFor="let movie of movieList" class="flex flex-col items-center w-[400px] h-[600px] p-4 m-4 bg-gray-700 rounded-lg shadow-lg">
    <div class="w-full h-full flex flex-col items-center text-white">
      <div class="font-bold text-xl mb-2 text-center">{{ movie.title }}</div>
      <img class=" w-full h-fit p-2 rounded-lg shadow-lg" src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" alt="{{ movie.title }}">
      <div class="text-sm">Release date: {{ movie.release_date }}</div>
      <div class="text-sm">Popularity: {{ movie.vote_average }}</div>
    </div>
  </div>
</div>
