<div class="flex justify-center py-5">
  <div class="text-red-900 text-2xl font-bold">Login/Signup with Local Storage</div>
</div>
<div class="flex justify-center py-5 bg-red-100">
  <form [formGroup]="registerForm" class="py-5 w-2/5">
    <div formGroupName="username" class="py-1">
      <div class="text-lg font-medium py-2">Name</div>
      <input type="text" formControlName="name" class="p-2 rounded-xl w-full">
    </div>
    <div formGroupName="login" class="py-1">
      <div class="text-lg font-medium py-2">Email</div>
      <input type="email" formControlName="mail" class="p-2 rounded-xl w-full">
      <br>
      <div class="py-2"></div>
      <div class="text-lg font-medium py-1">Password</div>
      <input type="password" formControlName="password" class="p-2 rounded-xl w-full">
    </div>
    <button class="mt-5" nzType="primary" nz-button nzDanger nzShape="round" [disabled]="isButtonDisabled()" (click)="onClick()">Submit</button>
  </form>
</div>
<button class="px-4 py-2 bg-gray-500 w-full text-sky-50" [routerLink]="['/description']">Description</button>
<button class="px-4 py-2 bg-gray-500 w-full text-sky-50" [routerLink]="['/allMovieLists']">Movie</button>

